<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="card">
        <div class="image-area">
            <img src="../assets/wonder-why-2.jpg" alt="Wonder Why">
        </div>
        <div class="text-area">
            <div class="heading">
                <h2>Wonder Why</h2>
            </div>
            <div class="description">
                <p>
                    If you're health conscious then this pizza is for you.
                </p>
            </div>
            <div class="button-area">
                <button>Order this</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image-area">
            <img src="../assets/pizza-margarita.jpg" alt="Margherita">
        </div>
        <div class="text-area">
            <div class="heading">
                <h2>Margherita</h2>
            </div>
            <div class="description">
                <p>
                    Pizza Margherita is a typical Neapolitan pizza, made with San Marzano tomatoes, mozzarella cheese,
                    fresh basil, salt and extra-virgin olive oil. Traditionally, it is made with fior di latte rather
                    than buffalo mozzarella.
                </p>
            </div>
            <div class="button-area">
                <button>Order this</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="image-area">
            <img src="../assets/pepperoni.jpeg" alt="Pepperoni">
        </div>
        <div class="text-area">
            <div class="heading">
                <h2>Classic Pepperoni And Oregano</h2>
            </div>
            <div class="description">
                <p>
                    A great crust, gooey cheese, and tons of pepperoni.
                </p>
            </div>
            <div class="button-area">
                <button>Order this</button>
            </div>
        </div>
    </div>
</body>

</html>