.card {
    width: 260px;
    height: 440px;
    border: 3px solid black;
    border-radius: 14px;
    overflow: hidden;
    margin: 0 20px 20px 0;
    float: left;
}

.card .image-area {
    width: 100%;
    height: 180px;
}

.card .image-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .text-area {
    position: relative;
    height: 260px;
}

.card .text-area > * {
    padding: 0 10px;
    margin-bottom: 10px;
}

.card .text-area .heading {
    line-height: 30px;
    margin-bottom: 10px;
    background-color: tomato;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.card .text-area .heading h2 {
    margin: 0;
}

.card .text-area .description {
    margin-bottom: 10px;
}

.card .text-area .description p {
    margin: 0;
    line-height: 20px;
}

.card .text-area .button-area {
    text-align: center;
}

.card .text-area .button-area button {
    line-height: 25px;
    background-color: seagreen;
    color: black;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

.card .text-area .button-area button:hover {
    background-color: black;
    color: white;
}