.card {
    width: 260px;
    height: 440px;
    border: 3px solid black;
    border-radius: 14px;
    overflow: hidden;
    margin-right: 20px;
    float: left;
}

.card .image-area {
    width: 100%;
    height: 180px;
}

.card .image-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.card .text-area {
    position: relative;
}

.card .text-area > * {
    padding: 0 10px;
}

.card .text-area .heading {
    line-height: 30px;
    margin-bottom: 10px;
    background-color: tomato;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

.card .text-area .heading h2 {
    margin: 0;
}

.card .text-area .description {
    margin-bottom: 10px;
}

.card .text-area.description p {
    margin: 0;
    line-height: 15px;
}

.card .text-area .button-area {
    margin: 0;
    text-align: center;
    vertical-align: bottom;
}