<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="card">
        <div class="image-area">
            <img src="../assets/akhalz-wonder-why.jpg" alt="Wonder Why">
        </div>
        <div class="text-area">
            <div class="heading">
                <h2>Wonder Why</h2>
            </div>
            <div class="description">
                <p>
                    If you're health conscious then this pizza is for you.
                </p>
            </div>
            <div class="button-area">
                <button>Order</button>
            </div>
        </div>
    </div>
</body>

</html>