<mat-grid-list [cols]="columns" rowHeight="500px">

    <mat-grid-tile>
        <div>
            <h2>Screen 1</h2>
        </div>
        <div>
            <p>
                Suspendisse vitae dictum orci, non posuere sapien. Pellentesque nisi tortor, dictum sit amet vulputate
                ac,
                convallis fringilla ligula. Sed elementum velit in sapien gravida, nec rhoncus sem fringilla. Proin
                consequat lacus eu scelerisque efficitur. Vestibulum porttitor sagittis imperdiet. Quisque scelerisque
                dolor
                in mattis rutrum. Pellentesque pretium, tortor in faucibus consectetur, leo eros cursus mi, vel lacinia
                lacus nibh sit amet orci.
            </p>
            <p>
                Quisque malesuada varius libero sed feugiat. Maecenas et sapien volutpat, aliquet augue eu, congue ante.
                Vestibulum leo orci, iaculis sit amet lorem id, ultricies tincidunt odio. Morbi tristique ante et neque
                consequat, in imperdiet arcu gravida. Quisque bibendum at turpis rhoncus consequat. Nunc tincidunt elit
                id
                nisi tincidunt sollicitudin. Aliquam id ornare dolor, quis fermentum tellus. Etiam cursus nibh ac
                euismod
                tincidunt. Pellentesque blandit nisl vitae metus iaculis, sed efficitur mauris maximus. Phasellus nec
                quam
                ut diam vehicula dignissim. Nunc sed eros et ex sagittis consectetur et at eros. Nulla eu felis sed
                lorem
                suscipit tristique.
            </p>
            <p>
                Praesent ut imperdiet ante, eget fringilla nunc. Class aptent taciti sociosqu ad litora torquent per
                conubia
                nostra, per inceptos himenaeos. Donec efficitur dolor ut malesuada pellentesque. Cras lobortis sapien
                sem,
                quis pretium urna hendrerit id. Pellentesque semper dui id laoreet sodales. Vivamus ultrices sit amet
                neque
                quis blandit. Suspendisse potenti. Vivamus rutrum nisi non molestie condimentum. Pellentesque in risus
                sit
                amet erat suscipit auctor sit amet vitae urna. Integer placerat diam vitae malesuada ornare. Integer
                fringilla nec ex vitae efficitur.
            </p>
            <p>
                Phasellus vitae laoreet nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                ac
                turpis egestas. Vivamus arcu nisl, finibus sit amet dui eu, volutpat volutpat nulla. Etiam egestas dui
                ac
                justo faucibus gravida. Proin non dui tincidunt, sodales purus vel, iaculis lectus. Duis malesuada at
                urna
                sit amet auctor. Aliquam vitae blandit sapien.
            </p>
            <p>
                Fusce eget nulla suscipit, auctor sapien a, sollicitudin leo. Suspendisse justo tellus, vestibulum sit
                amet
                lorem eu, pretium hendrerit purus. Cras luctus quis diam quis rhoncus. Sed lacinia posuere euismod. Nam
                pulvinar nulla non arcu posuere sagittis. Nunc id auctor libero. In commodo tincidunt justo et
                ultricies.
                Cras ligula arcu, euismod vitae enim a, faucibus fringilla libero. Nulla quis laoreet nibh, a faucibus
                odio.
                Nam dapibus et tortor vel posuere. Vivamus eu tortor pharetra, pellentesque ex et, ornare sem. Vivamus
                fermentum justo quis magna congue, vitae rutrum dolor tempus. Aenean id libero tempus, posuere magna in,
                imperdiet magna. Nunc rutrum ex id lectus dictum, sed tristique magna rutrum. Ut tristique, purus quis
                interdum tempor, quam turpis consectetur nibh, ac malesuada nunc nibh eu mauris. Pellentesque
                ullamcorper
                iaculis fringilla.
            </p>
        </div>
    </mat-grid-tile>

    <mat-grid-tile>
        <h2>Screen 2</h2>
        <p>
            Praesent ut imperdiet ante, eget fringilla nunc. Class aptent taciti sociosqu ad litora torquent per conubia
            nostra, per inceptos himenaeos. Donec efficitur dolor ut malesuada pellentesque. Cras lobortis sapien sem,
            quis pretium urna hendrerit id. Pellentesque semper dui id laoreet sodales. Vivamus ultrices sit amet neque
            quis blandit. Suspendisse potenti. Vivamus rutrum nisi non molestie condimentum. Pellentesque in risus sit
            amet erat suscipit auctor sit amet vitae urna. Integer placerat diam vitae malesuada ornare. Integer
            fringilla nec ex vitae efficitur.
        </p>
    </mat-grid-tile>

</mat-grid-list>